// INCLUDED THIS SO THAT BACKGROUND IMAGE WOULD NOT BE CONPRESSED BY NAV OR H1 
html, body {
    height: 85%;
    background-color: $mainLightBlue;
}

// START IMAGE STYLING TO HELP MAKE BOAT IMAGES MORE RESPONSIVE 
img {
  width: 100%;
  height: auto;
  display: block;
}

p {
    line-height: 1.9rem;
}

h2 {
    color: $mainBlue;
}

// BACKGROUND IMAGE FOR BLOG PAGE
header {
    background-image: url('../assets/blog-header.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;

    .blogFlex {
        // TO FLEX NAV AND REMOVE WHITESPACE AT THE TOP OF THE PAGE
        display: flex;
    }

    nav {
        margin-top: 50px;
    }

    ul {
        list-style-type: none;
        display: flex;
        width: 30%;
    }

    li {
        margin: 0 20px;
        font-weight: bold;
        font-size: 2rem;
    }

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid $mainYellow;
        }
    }

    h1 {
        color: #ffffff;
        font-size: 4.8rem;
        text-transform: uppercase;
        position: absolute;
        left: 65px;
    }
}

.blogContainer {
    display: flex;
    justify-content: space-between;
}

.asideFlexContainer {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    margin-left: 30px;
    width: 20%;
    // position: relative;

    img {
        background-color: $mainBlue;
        margin-left: -30px;
        box-shadow: 30px 10px $mainBlue;
        // position: absolute;
        // right: 60px;
    }
    
    p {
        color: white;
    }
}

h3 {
    color: $mainYellow;
    margin: 0;
}


li {
    color: white;
    font-size: 1.5rem;
}

.missionContainer {
    background-color: $mainBlue;
    padding: 20px 20px;

    h3 {
        margin-top: 20px;
    }

    ul {
        padding-left: 10px;
        
        li {
            margin-bottom: 5px;
        }
    }
}

.nextDestinationContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    border: 3px solid $mainYellow;

    img {
        box-shadow: -12px 12px $mainYellow;
        margin-top: -420px;
        z-index: 3;
    }
}

.nextPostContainer {
    padding: 30px 80px 60px 80px;

    h2 {
        margin-bottom: 0px;
    }

    p {
        padding-top: 5px;
    }
}

.commentFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}


.commentFlexItem1,
.commentFlexItem2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 90%;

    img {
        width: auto;
        margin-right: 40px;
    }

    p {
        margin-top: 0px;
        padding-right: 70px;
    }

}

.commentsTitle {
    h2 {
        text-align: center;
    }
}

.commentFlexItem1 {
    margin-bottom: 50px;
    margin-left: 32px;

    img {
        padding: 0px 0px 30px 0px;
    }
}

.commentInfoContainer1,
.commentInfoContainer2 {
    width: 55%;

    h4 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}



.commentBlogFlex {
    background-color: $mainLightBlue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
    margin-right: 30px;
    margin-bottom: 70px;

    a {
        color: $mainYellow;
    }


    .userName,
    .userEmail,
    .commentBox {
        padding: 15px 20px;
        margin: 20px 18px 20px 22px;
        background-color: $mainLightBlue;
        color: $mainBlue;
    }

    .submitBlog {
        width: 90%;
        margin: 15px 10px 20px 20px;
        border: 0;
        background-color: $mainBlue;
    }

}


@media screen and (max-width: 1200px) {
    .asideFlexContainer {
        margin-top: -60px;
    }
    
    .nextDestinationContainer {
        img {
            margin-top: -370px;
        }
    }

    .userName,
    .userEmail {
        padding: 15px 15px;
    }

    .commentBlogFlex {
        padding-right: 30px;
    }

    .commentBox {
        height: 200px;
    }
}

@media screen and (max-width: 950px) {
    .userName,
    .userEmail {
        padding: 10px 10px;
        margin: 20px 18px 15px 0px;
        font-size: 1.5rem;
        margin-right: 5px;
    }

    .commentBox {
        margin: 20px 18px 15px 0px;
    }

    .submitBlog {
        margin-right: 5px;
    }
    
}







