// INCLUDED THIS SO THAT BACKGROUND IMAGE WOULD NOT BE CONPRESSED BY NAV OR H1 
html, body {
    height: 85%;
    background-color: $mainLightBlue;
}

// START IMAGE STYLING TO HELP MAKE BOAT IMAGES MORE RESPONSIVE 
img {
  width: 100%;
  height: auto;
  display: block;
}

p {
    line-height: 1.9rem;
}

// BACKGROUND IMAGE FOR BLOG PAGE
header {
    background-image: url(../../../assets/blog-header.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;

    .blogFlex {
        // TO FLEX NAV AND REMOVE WHITESPACE AT THE TOP OF THE PAGE
        display: flex;
    }

    nav {
        margin-top: 50px;
    }

    ul {
        list-style-type: none;
        display: flex;
        width: 30%;
    }

    li {
        margin: 0 20px;
        font-weight: bold;
        font-size: 2rem;
    }

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid $mainYellow;
        }
    }

    h1 {
        color: #ffffff;
        font-size: 4.6rem;
        position: absolute;
        left: 65px;
    }
}

main {
    display: flex;
}

.aside {
    width: 20%;
}

.asideFlex {
    background-color: $mainBlue;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    position: relative;

    img {
        object-fit: contain;
        background-color: $mainBlue;
        position: absolute;
        right: 60px;
    }
    
    p {
        color: white;
    }
}

h3 {
    color: $mainYellow;
    margin: 0;
}


li {
    color: white;
    font-size: 1.5rem;
}

.nextDestinationContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}


button {
    width: 30%;
    background-color: $mainBlue;
}






