

h1, h2, button {
    font-family: $fontEnglish;
}

nav, p {
    font-family: $fontRoboto;
}

h2 {
    font-size: 4rem;
    font-weight: 400; 
}



// BUTON STYLES

button {
    background-color: $mainYellow;
    text-transform: uppercase;
    font-size: 1.5rem;
}



    