.gallery {
    background-color: $mainBlue;

    .galleryFlex {

        @include center;


        img {
            width: calc((100% / 3) - 100px);
            margin: 80px 20px;
        }
    }

}