.menu {

    height: 500px;
    background-color: $mainLightBlue;
    @include center;
    width: 100%;
    padding-top: 170px;

    i {
        color: black;
        font-size: 2rem;
    }

    .menuFlexMain {
        @include center;
    

        .menuFlex {
            @include center;
            flex-wrap: wrap;
            width: 88%;

            p {
                width: 90%;
                line-height: 2.6rem;
                margin: 15px 0px;
            }

            h2 {
                margin: 0px;
                color: $mainBlue;
                
            }
            
            
            .menuItem div {
                background-color: $mainYellow;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                @include center;
                margin-right: 20px;
            }

            .menuItem {
                flex-wrap: wrap;
                display: flex;
                width: calc(50% - 10px);
                margin: 20px 0px;
                line-height: 4.9rem;
                
           
        }
    }
  } 

}