html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, h2, button {
  font-family: "IM Fell English", serif;
}

nav, p {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  font-family: "IM Fell English", serif;
}

h4 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #FDD908;
  text-transform: uppercase;
  font-size: 1.5rem;
}

body {
  font-size: 1.4rem;
}

body .wrapper {
  max-width: 1500px;
}

body .mainWrapper {
  max-width: 1440px;
}

body button {
  width: 18%;
  padding: 10px;
}

body p {
  line-height: 1.9rem;
}

body h2 {
  text-transform: uppercase;
}

main {
  background-image: url("../../../assets/home-header.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main nav {
  margin-top: 50px;
}

main ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding: 0px;
}

main li {
  margin: 0 20px;
  font-weight: bold;
  font-size: 2rem;
}

main a {
  text-decoration: none;
  color: white;
}

main a:hover {
  border-bottom: 2px solid #FDD908;
}

main h1 {
  color: #FDD908;
  font-size: 4.6rem;
  width: 40%;
  text-transform: uppercase;
}

main .mainBoxImage {
  position: absolute;
  left: 541px;
  bottom: -147px;
  height: 630px;
  width: 900px;
}

.menu {
  height: 500px;
  background-color: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 170px;
}

.menu i {
  color: black;
  font-size: 2rem;
}

.menu .menuFlexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menuFlexMain .menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 88%;
}

.menu .menuFlexMain .menuFlex p {
  width: 90%;
  margin: 15px 0px;
}

.menu .menuFlexMain .menuFlex h2 {
  margin: 0px;
  color: #0D457F;
}

.menu .menuFlexMain .menuFlex .menuItem div {
  background-color: #FDD908;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.menu .menuFlexMain .menuFlex .menuItem {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 10px);
}

.info {
  background-color: #0D457F;
  width: 100%;
}

.info .infoFlexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.info .infoFlexMain img {
  width: 80%;
}

.info .infoFlexMain .infoFlex11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.info .infoFlexMain .infoFlex22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.info .infoFlexMain p {
  color: white;
  margin: 0px;
  width: 75%;
  margin: 10px 0px 27px 0px;
}

.info .infoFlexMain h2 {
  color: white;
  margin: 0px;
}

.info .infoFlexMain button {
  margin: 0px;
  width: 38%;
  padding: 13px;
}

.info .infoFlexMain .image1 {
  position: relative;
  top: -85px;
  left: -79px;
  -webkit-box-shadow: #FDD908 21px 21px;
          box-shadow: #FDD908 21px 21px;
}

.info .infoFlexMain .image2 {
  position: relative;
  bottom: -81px;
  right: -143px;
  -webkit-box-shadow: #FDD908 -21px 21px;
          box-shadow: #FDD908 -21px 21px;
}

.info .infoFlexMain .infoFlex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70%;
}

.info .infoFlexMain .infoFlex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 61%;
  -ms-flex-item-align: center;
      align-self: center;
}

.info .infoFlexMain .infoFlex1, .info .infoFlexMain .infoFlex2 {
  padding: 20px 0px;
}

.vacation {
  background-color: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vacation .vacationFlex1 {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vacation .vacationFlex1 h2 {
  padding: 100px 0px 0px;
  color: #0D457F;
  padding: 100px 0px 0px 0px;
  margin-bottom: 0px;
}

.vacation .vacationFlex1 p {
  width: 40%;
}

.vacation .vacationFlex1 button {
  width: 11%;
}

.vacation .vacationBanner {
  width: 100%;
}

.vacationBanner {
  width: 100%;
}

.vacation2 {
  background-color: #EAFEFC;
  padding: 80px 0px;
}

.vacation2 .vacationFlexAux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vacation2 .vacationFlexAux img {
  -webkit-box-shadow: #FDD908 -21px 21px;
          box-shadow: #FDD908 -21px 21px;
}

.vacation2 .vacationFlexAux .vacationFlex2 {
  width: 48%;
  margin-left: 60px;
  margin: 60px 60px;
}

.vacation2 .vacationFlexAux .vacationFlex2 h2 {
  margin: 0px;
  color: #0D457F;
}

.vacation2 .vacationFlexAux .vacationFlex2 button {
  width: 31%;
}

.gallery {
  background-color: #0D457F;
}

.gallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .galleryFlex img {
  width: calc((100% / 3) - 100px);
  margin: 80px 20px;
}

footer {
  background-color: #FDD908;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html, body {
  height: 85%;
  background-color: #EAFEFC;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  line-height: 1.9rem;
}

h2 {
  color: #0D457F;
}

header {
  background-image: url("../../../assets/blog-header.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

header .blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav {
  margin-top: 50px;
}

header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

header li {
  margin: 0 20px;
  font-weight: bold;
  font-size: 2rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  border-bottom: 2px solid #FDD908;
}

header h1 {
  color: #ffffff;
  font-size: 4.8rem;
  text-transform: uppercase;
  position: absolute;
  left: 65px;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -200px;
  margin-left: 30px;
  width: 20%;
}

.asideFlexContainer img {
  background-color: #0D457F;
  margin-left: -30px;
  -webkit-box-shadow: 30px 10px #0D457F;
          box-shadow: 30px 10px #0D457F;
}

.asideFlexContainer p {
  color: white;
}

h3 {
  color: #FDD908;
  margin: 0;
}

li {
  color: white;
  font-size: 1.5rem;
}

.missionContainer {
  background-color: #0D457F;
  padding: 20px 20px;
}

.missionContainer h3 {
  margin-top: 20px;
}

.missionContainer ul {
  padding-left: 10px;
}

.missionContainer ul li {
  margin-bottom: 5px;
}

.nextDestinationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  border: 3px solid #FDD908;
}

.nextDestinationContainer img {
  -webkit-box-shadow: -12px 12px #FDD908;
          box-shadow: -12px 12px #FDD908;
  margin-top: -420px;
  z-index: 3;
}

.nextPostContainer {
  padding: 30px 50px 40px 50px;
}

.nextPostContainer h2 {
  margin-bottom: 0px;
}

.nextPostContainer p {
  padding-top: 5px;
}

.commentFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.commentFlexItem1,
.commentFlexItem2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commentFlexItem1 img,
.commentFlexItem2 img {
  width: auto;
  height: 100%;
}

.commentFlexItem1 h4,
.commentFlexItem2 h4 {
  margin: 0;
}

.commentFlexItem1 h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.commentBlogFlex {
  background-color: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  margin-right: 30px;
  margin-bottom: 70px;
}

.commentBlogFlex a {
  color: #FDD908;
}

.commentBlogFlex .userName,
.commentBlogFlex .userEmail,
.commentBlogFlex .commentBox {
  padding: 15px 20px;
  margin: 20px 18px 20px 22px;
  background-color: #EAFEFC;
  color: #0D457F;
}

.commentBlogFlex .submitBlog {
  width: 90%;
  margin: 15px 10px 20px 22px;
  border: 0;
  background-color: #0D457F;
}

.contactWrapper ul {
  padding-left: 150px;
}

.contactWrapper h1 {
  width: 50%;
  font-size: 6.3rem;
  padding: 5px 20px 20px 100px;
  text-transform: uppercase;
}

.contactUsFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialContainerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.fab {
  list-style-type: none;
  font-size: 2rem;
  color: #0D457F;
  padding: 10px 10px 20px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.socialFlexItem1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.socialFlexItem1 .contactEmail {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: #0D457F;
}

.addressInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addressInformation p {
  padding: 0;
  font-size: 2rem;
  margin: 1px 0 5px 0px;
  text-decoration: none;
  font-style: normal;
  color: #0D457F;
}

.commentFormFlex {
  background-color: #0D457F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-right: 30px;
  margin-bottom: 70px;
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
}

fieldset {
  border: 0;
}

legend {
  display: none;
}

label[for="userName"],
label[for="userEmail"],
label[for="commentBox"] {
  display: none;
}

.userName,
.userEmail,
.commentBox {
  padding: 15px 20px;
  margin: 20px 18px 20px 22px;
  background-color: #0D457F;
  color: white;
}

.userName,
.userEmail {
  border-color: #FDD908;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.userName {
  width: 42%;
}

.userEmail {
  width: 42%;
}

.commentBox {
  width: 90%;
  resize: none;
  border-color: #FDD908;
}

.submitComment {
  width: 90%;
  margin: 15px 10px 20px 22px;
  border: 0;
  background-color: #FDD908;
}
